/* line 1, /home/paul/Desktop/getflix/app/assets/stylesheets/account_menu.scss */
.accountMenu {
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  position: relative;
}

/* line 10, /home/paul/Desktop/getflix/app/assets/stylesheets/account_menu.scss */
.accountMenu detail {
  color: white;
  font-weight: 700;
  font-size: 12px;
  margin-left: 6px;
  display: flex;
  align-items: center;
}

/* line 19, /home/paul/Desktop/getflix/app/assets/stylesheets/account_menu.scss */
.userName {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 80px;
}

/* line 26, /home/paul/Desktop/getflix/app/assets/stylesheets/account_menu.scss */
.accountMenu i {
  margin-left: 10px;
}

/* line 30, /home/paul/Desktop/getflix/app/assets/stylesheets/account_menu.scss */
.accountDropdown {
  position: relative;
  background-color: rgba(0, 0, 0, 0.9);
  top: 0;
  left: 0;
  margin-top: 16px;
  margin-left: -60px;
  width: calc(100% + 60px);
  font-size: 15px;
  border-width: 0 1px 1px 1px;
  border-style: solid;
  border-color: rgba(255, 255, 255, 0.14902);
  border-top: 2px solid white;
  visibility: hidden;
  opacity: 0;
  transition: opacity 2200ms, visibility 200ms;
}

/* line 49, /home/paul/Desktop/getflix/app/assets/stylesheets/account_menu.scss */
.show {
  opacity: 1;
  visibility: visible;
  transition: opacity 250ms, visibility 250ms;
}

/* line 55, /home/paul/Desktop/getflix/app/assets/stylesheets/account_menu.scss */
.accountMenu li {
  margin: 10px;
  color: white;
}

/* line 60, /home/paul/Desktop/getflix/app/assets/stylesheets/account_menu.scss */
.accountMenu p {
  margin: 10px;
  font-weight: bold;
  color: white;
}

/* line 65, /home/paul/Desktop/getflix/app/assets/stylesheets/account_menu.scss */
.accountMenu ul p {
  padding: 10px;
  margin: 0px;
  border-width: 1px 0 0 0;
  border-style: solid;
  border-color: rgba(255, 255, 255, 0.14902);
}

/* line 73, /home/paul/Desktop/getflix/app/assets/stylesheets/account_menu.scss */
.accountMenu ul i {
  margin-left: 77px;
}

/* line 77, /home/paul/Desktop/getflix/app/assets/stylesheets/account_menu.scss */
.accountMenu li:hover {
  text-decoration: underline;
}

/* line 81, /home/paul/Desktop/getflix/app/assets/stylesheets/account_menu.scss */
.accountMenu ul p:hover {
  text-decoration: underline;
}
/* line 1, /home/paul/Desktop/getflix/app/assets/stylesheets/api/video_detail.scss */
.videoDetail {
  width: 20%;
  box-sizing: border-box;
  display: flex;
  margin-right: 30px;
  flex-direction: column;
  padding: 1px;
}

/* line 10, /home/paul/Desktop/getflix/app/assets/stylesheets/api/video_detail.scss */
.videoDetail:last-of-type {
  margin-right: 0px;
}

/* line 14, /home/paul/Desktop/getflix/app/assets/stylesheets/api/video_detail.scss */
.videoDetail .thumb {
  width: 100%;
  position: relative;
}

/* line 19, /home/paul/Desktop/getflix/app/assets/stylesheets/api/video_detail.scss */
.thumb img {
  width: 100%;
  height: auto;
}

/* line 24, /home/paul/Desktop/getflix/app/assets/stylesheets/api/video_detail.scss */
.thumb div {
  position: absolute;
  bottom: 2%;
  left: 2%;
  font-weight: 300;
  font-size: 2.15625vw;
}

/* line 32, /home/paul/Desktop/getflix/app/assets/stylesheets/api/video_detail.scss */
.thumb .fa-play {
  position: absolute;
  transform: scale(3);
  left: calc(50% - 6.3px);
  top: calc(50% - 8px);
  visibility: hidden;
  transition: all 200ms ease;
}

/* line 41, /home/paul/Desktop/getflix/app/assets/stylesheets/api/video_detail.scss */
.thumb:hover .fa-play {
  visibility: visible;
  opacity: .7;
  cursor: pointer;
}

/* line 47, /home/paul/Desktop/getflix/app/assets/stylesheets/api/video_detail.scss */
.thumb .fa-play:hover {
  opacity: 1;
  transform: scale(3.5);
  color: red;
}

/* line 53, /home/paul/Desktop/getflix/app/assets/stylesheets/api/video_detail.scss */
.videoHeader {
  display: flex;
  justify-content: space-between;
  font-size: .9vw;
  font-weight: 700;
  margin: .45vw 0 0;
}

/* line 61, /home/paul/Desktop/getflix/app/assets/stylesheets/api/video_detail.scss */
.videoBody {
  margin: .45vw 0 0;
  padding: 0;
  font-size: .916663vw;
}
/* line 1, /home/paul/Desktop/getflix/app/assets/stylesheets/browse.scss */
.browser {
  display: flex;
  flex-direction: column;
  position: relative;
}

/* line 7, /home/paul/Desktop/getflix/app/assets/stylesheets/browse.scss */
.browse-splash {
  color: white;
}

/* line 10, /home/paul/Desktop/getflix/app/assets/stylesheets/browse.scss */
.splash-bg {
  position: absolute;
  width: 100%;
}

/* line 15, /home/paul/Desktop/getflix/app/assets/stylesheets/browse.scss */
.browse-splash aside {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 13%;
  left: 4%;
  width: 37%;
  z-index: 2;
}

/* line 25, /home/paul/Desktop/getflix/app/assets/stylesheets/browse.scss */
.browse-splash aside text {
  width: 90%;
  font-weight: 400;
  line-height: 1.35;
  font-size: 1.4vw;
}

/* line 32, /home/paul/Desktop/getflix/app/assets/stylesheets/browse.scss */
.browse-splash button {
  margin-top: 1.5vw;
  font-size: 1.1vw;
  font-weight: 700;
  text-transform: uppercase;
  color: white;
  padding: .57em 1.35em;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
  border: 1px solid rgba(255, 255, 255, 0.4);
}

/* line 43, /home/paul/Desktop/getflix/app/assets/stylesheets/browse.scss */
.browse-splash button i {
  margin-right: .71em;
}

/* line 47, /home/paul/Desktop/getflix/app/assets/stylesheets/browse.scss */
.splashPlay {
  margin-right: .75em;
  background-color: #e50914;
}

/* line 52, /home/paul/Desktop/getflix/app/assets/stylesheets/browse.scss */
.splashPlay:hover {
  background-color: #ff0a16;
}

/* line 56, /home/paul/Desktop/getflix/app/assets/stylesheets/browse.scss */
.splashList {
  background-color: rgba(0, 0, 0, 0.4);
}

/* line 60, /home/paul/Desktop/getflix/app/assets/stylesheets/browse.scss */
.splashList:hover {
  background-color: rgba(51, 51, 51, 0.4);
}

/* line 64, /home/paul/Desktop/getflix/app/assets/stylesheets/browse.scss */
.splash-logo {
  width: 90%;
  margin-bottom: 1.2vw;
}

/* line 69, /home/paul/Desktop/getflix/app/assets/stylesheets/browse.scss */
.browser .genreSection {
  padding-top: 43%;
  margin: 0 auto;
  width: 93%;
  display: flex;
  flex-wrap: wrap;
  height: 78%;
  z-index: 1;
}
/* line 1, /home/paul/Desktop/getflix/app/assets/stylesheets/browse_genre.scss */
.browseGenre {
  width: 100%;
}

/* line 5, /home/paul/Desktop/getflix/app/assets/stylesheets/browse_genre.scss */
.browseGenreTitle {
  top: 0;
  left: 0;
  color: #999;
  font-size: 1.4vw;
  font-weight: 700;
  margin-bottom: .5em;
}
/* line 1, /home/paul/Desktop/getflix/app/assets/stylesheets/footer.scss */
.footer {
  background-color: #141414;
  color: gray;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* line 9, /home/paul/Desktop/getflix/app/assets/stylesheets/footer.scss */
.footer main {
  max-width: 1000px;
  width: 90%;
  margin-top: 30px;
}

/* line 15, /home/paul/Desktop/getflix/app/assets/stylesheets/footer.scss */
.footer .iconPanel {
  display: inline-block;
  border: 1px solid #999;
  margin-bottom: 15px;
  padding: .5em 0 .5em .5em;
}

/* line 22, /home/paul/Desktop/getflix/app/assets/stylesheets/footer.scss */
.footer .iconPanel a {
  margin-right: .5em;
}

/* line 26, /home/paul/Desktop/getflix/app/assets/stylesheets/footer.scss */
.footer aside {
  margin-bottom: 30px;
}

/* line 30, /home/paul/Desktop/getflix/app/assets/stylesheets/footer.scss */
.footer ul {
  display: flex;
  flex-wrap: wrap;
  font-size: 13px;
}

/* line 36, /home/paul/Desktop/getflix/app/assets/stylesheets/footer.scss */
.footer li {
  width: 25%;
  margin-bottom: 15px;
}

/* line 41, /home/paul/Desktop/getflix/app/assets/stylesheets/footer.scss */
.footer a {
  color: inherit;
  text-decoration: none;
}

/* line 46, /home/paul/Desktop/getflix/app/assets/stylesheets/footer.scss */
.footer a:hover {
  text-decoration: underline;
}

/* line 50, /home/paul/Desktop/getflix/app/assets/stylesheets/footer.scss */
.footer p {
  font-size: 11px;
  margin-bottom: 15px;
}

/* line 55, /home/paul/Desktop/getflix/app/assets/stylesheets/footer.scss */
.footerLanding {
  background-color: black;
  color: #999;
}

/* line 60, /home/paul/Desktop/getflix/app/assets/stylesheets/footer.scss */
.footerLogin {
  background-color: #f3f3f3;
  color: #777;
}
/* line 1, /home/paul/Desktop/getflix/app/assets/stylesheets/genre.scss */
.genre {
  height: 100%;
}

/* line 5, /home/paul/Desktop/getflix/app/assets/stylesheets/genre.scss */
.genre aside {
  padding: 1px;
}

/* line 9, /home/paul/Desktop/getflix/app/assets/stylesheets/genre.scss */
.genre p {
  color: white;
  font-size: 26px;
  margin: 107px 0 72px 56px;
}

/* line 15, /home/paul/Desktop/getflix/app/assets/stylesheets/genre.scss */
.genre #genreRows {
  margin: 0 auto;
  width: 93%;
  display: flex;
  flex-wrap: wrap;
}
/* line 1, /home/paul/Desktop/getflix/app/assets/stylesheets/genre_browser.scss */
.genreBrowser {
  margin: 8px 0 0 60px;
}

/* line 5, /home/paul/Desktop/getflix/app/assets/stylesheets/genre_browser.scss */
.genreBrowser figure {
  display: flex;
}

/* line 9, /home/paul/Desktop/getflix/app/assets/stylesheets/genre_browser.scss */
.genreBrowser div {
  color: #e50914;
  font-weight: 700;
  font-size: 16px;
  cursor: pointer;
  width: 76px;
}

/* line 17, /home/paul/Desktop/getflix/app/assets/stylesheets/genre_browser.scss */
#deadspace {
  color: white;
  width: calc(100% - 76px);
  cursor: default;
}

/* line 25, /home/paul/Desktop/getflix/app/assets/stylesheets/genre_browser.scss */
.dropdown {
  background-color: rgba(0, 0, 0, 0.9);
  border-width: 0 1px 1px 1px;
  border-style: solid;
  border-color: rgba(255, 255, 255, 0.14902);
  border-top: 2px solid white;
  font-size: 15px;
  width: 8vw;
  min-width: 100px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-top: 20px;
  padding: 10px;
  visibility: hidden;
  opacity: 0;
  transition: opacity 2200ms, visibility 200ms;
  position: relative;
}

/* line 45, /home/paul/Desktop/getflix/app/assets/stylesheets/genre_browser.scss */
.genreBrowser li {
  width: 100%;
  min-width: 137px;
  padding: 3px;
  box-sizing: border-box;
  display: flex;
}

/* line 53, /home/paul/Desktop/getflix/app/assets/stylesheets/genre_browser.scss */
.genreLink {
  color: white;
  text-decoration: none;
}

/* line 58, /home/paul/Desktop/getflix/app/assets/stylesheets/genre_browser.scss */
.genreLink:hover {
  text-decoration: underline;
}

/* line 62, /home/paul/Desktop/getflix/app/assets/stylesheets/genre_browser.scss */
.show {
  opacity: 1;
  visibility: visible;
  transition: opacity 250ms, visibility 250ms;
}

/* line 68, /home/paul/Desktop/getflix/app/assets/stylesheets/genre_browser.scss */
.fa-caret-up {
  color: white;
  position: absolute;
  top: 0;
  left: 0;
  margin-left: 13px;
  margin-top: -13px;
}
/* line 1, /home/paul/Desktop/getflix/app/assets/stylesheets/landing.scss */
.landing {
  position: relative;
  background-color: black;
}

/* line 6, /home/paul/Desktop/getflix/app/assets/stylesheets/landing.scss */
.landing img {
  width: 100%;
}

/* line 10, /home/paul/Desktop/getflix/app/assets/stylesheets/landing.scss */
.landingBlock {
  position: absolute;
  top: 38%;
  color: white;
  margin: -50px 0px 0px 57px;
}

/* line 17, /home/paul/Desktop/getflix/app/assets/stylesheets/landing.scss */
.landingBlock h2 {
  font-size: 5.5vw;
  font-weight: bold;
  margin-bottom: 12px;
}

/* line 23, /home/paul/Desktop/getflix/app/assets/stylesheets/landing.scss */
.landingBlock p {
  font-size: 1.85vw;
  margin-bottom: 12px;
}

/* line 28, /home/paul/Desktop/getflix/app/assets/stylesheets/landing.scss */
.landingBlock button {
  font-size: 14px;
  text-transform: uppercase;
  background-color: #e50914;
  color: white;
  padding: 12px 28px;
  margin-right: 22px;
  border-radius: 2px;
}

/* line 38, /home/paul/Desktop/getflix/app/assets/stylesheets/landing.scss */
.landingBlock button:hover {
  background-color: #f40612;
}

/* line 42, /home/paul/Desktop/getflix/app/assets/stylesheets/landing.scss */
.fa-key {
  color: white;
  margin-right: 4px;
}

/* line 47, /home/paul/Desktop/getflix/app/assets/stylesheets/landing.scss */
.fa-key {
  transform: scale(0.7);
}
/* line 1, /home/paul/Desktop/getflix/app/assets/stylesheets/my_list.scss */
.myList {
  height: 100%;
}

/* line 5, /home/paul/Desktop/getflix/app/assets/stylesheets/my_list.scss */
.myList aside {
  padding: 1px;
}

/* line 9, /home/paul/Desktop/getflix/app/assets/stylesheets/my_list.scss */
.myList p {
  color: white;
  font-size: 26px;
  margin: 107px 0 72px 56px;
}

/* line 15, /home/paul/Desktop/getflix/app/assets/stylesheets/my_list.scss */
.myList #mainRows {
  margin: 0 auto;
  width: 93%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

/* line 23, /home/paul/Desktop/getflix/app/assets/stylesheets/my_list.scss */
.myList .emptyList {
  color: #666;
  font-size: 18px;
  margin: 0px;
}
/* line 1, /home/paul/Desktop/getflix/app/assets/stylesheets/nav_bar.scss */
.navBar {
  display: flex;
  position: absolute;
  z-index: 1000000;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  height: 90px;
  margin-top: 18px;
}

/* line 12, /home/paul/Desktop/getflix/app/assets/stylesheets/nav_bar.scss */
.absolute {
  position: absolute;
}

/* line 16, /home/paul/Desktop/getflix/app/assets/stylesheets/nav_bar.scss */
.logo {
  margin-left: 57px;
  cursor: pointer;
  width: 166px;
}

/* line 22, /home/paul/Desktop/getflix/app/assets/stylesheets/nav_bar.scss */
.absolute button {
  font-size: 16px;
  background-color: #e50914;
  color: white;
  border-radius: 2px;
  margin-right: 57px;
  width: 84px;
  height: 32px;
  border-radius: 2px;
}

/* line 33, /home/paul/Desktop/getflix/app/assets/stylesheets/nav_bar.scss */
.absolute button:hover {
  background-color: #f40612;
}

/* line 37, /home/paul/Desktop/getflix/app/assets/stylesheets/nav_bar.scss */
.fixed {
  position: fixed;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0));
  margin-top: 0px;
  padding-top: 18px;
  height: 53px;
  justify-content: space-between;
}

/* line 46, /home/paul/Desktop/getflix/app/assets/stylesheets/nav_bar.scss */
.fixed section {
  display: flex;
}

/* line 50, /home/paul/Desktop/getflix/app/assets/stylesheets/nav_bar.scss */
.fixed section div img {
  width: 118px;
  display: inline-block;
}

/* line 55, /home/paul/Desktop/getflix/app/assets/stylesheets/nav_bar.scss */
.fixedOpaque {
  background: rgba(0, 0, 0, 0.7);
}

/* line 59, /home/paul/Desktop/getflix/app/assets/stylesheets/nav_bar.scss */
.navBar aside {
  margin-right: 57px;
  display: flex;
}
/* line 1, /home/paul/Desktop/getflix/app/assets/stylesheets/player.scss */
video::-webkit-media-controls-enclosure {
  display: none !important;
}

/* line 5, /home/paul/Desktop/getflix/app/assets/stylesheets/player.scss */
.player {
  display: flex;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  position: relative;
}

/* line 13, /home/paul/Desktop/getflix/app/assets/stylesheets/player.scss */
.player .fa-arrow-left {
  z-index: 100;
  position: absolute;
  top: 5%;
  left: 3%;
  color: white;
  transform: scale(4);
  opacity: .3;
  transition: all 200ms ease;
  cursor: pointer;
}

/* line 25, /home/paul/Desktop/getflix/app/assets/stylesheets/player.scss */
.player .fa-arrow-left:hover {
  transform: scale(4.5);
  color: red;
  opacity: .7;
}

/* line 31, /home/paul/Desktop/getflix/app/assets/stylesheets/player.scss */
#videoPlayer {
  height: 100%;
}

/* line 35, /home/paul/Desktop/getflix/app/assets/stylesheets/player.scss */
.playerControls {
  z-index: 2147483647;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 30%;
  display: flex;
  justify-content: center;
}

/* line 46, /home/paul/Desktop/getflix/app/assets/stylesheets/player.scss */
.playerControls:hover .playBar {
  opacity: 1;
}

/* line 50, /home/paul/Desktop/getflix/app/assets/stylesheets/player.scss */
.playBar {
  opacity: 0;
  height: 30%;
  width: 80%;
  margin-top: 7%;
  border-radius: 15px;
  background-color: #252525;
  display: flex;
  justify-content: space-between;
  box-shadow: 2px 2px 5px black;
  transition: all 250ms ease;
}

/* line 63, /home/paul/Desktop/getflix/app/assets/stylesheets/player.scss */
.playBar i {
  color: white;
  transform: scale(2);
  transition: all 200ms ease;
  cursor: pointer;
}

/* line 70, /home/paul/Desktop/getflix/app/assets/stylesheets/player.scss */
.playBar i:hover {
  transform: scale(2.3);
  color: red;
}

/* line 75, /home/paul/Desktop/getflix/app/assets/stylesheets/player.scss */
.playPause {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 5%;
  position: relative;
  border-right: 1px solid black;
  box-shadow: 1px 0px 0px #2d2d2d;
}

/* line 86, /home/paul/Desktop/getflix/app/assets/stylesheets/player.scss */
.hidePlay {
  display: none !important;
}

/* line 90, /home/paul/Desktop/getflix/app/assets/stylesheets/player.scss */
#seeker {
  width: 70%;
  background: transparent;
  z-index: 100;
  padding: 0 0 0 2%;
}

/* line 97, /home/paul/Desktop/getflix/app/assets/stylesheets/player.scss */
#seeker:focus {
  outline: none;
}

/* line 101, /home/paul/Desktop/getflix/app/assets/stylesheets/player.scss */
#seeker {
  -webkit-appearance: none;
}

/* line 105, /home/paul/Desktop/getflix/app/assets/stylesheets/player.scss */
::-webkit-slider-runnable-track {
  height: 15%;
  background: #CB0000;
  border: none;
  box-shadow: 2px 2px 5px black;
  cursor: pointer;
}

/* line 113, /home/paul/Desktop/getflix/app/assets/stylesheets/player.scss */
::-moz-range-track {
  height: 15%;
  background: #CB0000;
  border: none;
  box-shadow: 2px 2px 5px black;
  cursor: pointer;
}

/* line 121, /home/paul/Desktop/getflix/app/assets/stylesheets/player.scss */
::-ms-track {
  height: 15%;
  background: #CB0000;
  border: none;
  box-shadow: 2px 2px 5px black;
  cursor: pointer;
}

/* line 129, /home/paul/Desktop/getflix/app/assets/stylesheets/player.scss */
::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 2vmax;
  width: 2vmax;
  border-radius: 50%;
  background: #CB0000;
  box-shadow: 1px 2px 5px black;
  margin-top: -1.2%;
  cursor: pointer;
}

/* line 140, /home/paul/Desktop/getflix/app/assets/stylesheets/player.scss */
::-moz-range-thumb {
  -webkit-appearance: none;
  height: 2vmax;
  width: 2vmax;
  border-radius: 50%;
  background: #CB0000;
  box-shadow: 1px 2px 5px black;
  margin-top: -1.2%;
  cursor: pointer;
}

/* line 151, /home/paul/Desktop/getflix/app/assets/stylesheets/player.scss */
::-ms-thumb {
  -webkit-appearance: none;
  height: 2vmax;
  width: 2vmax;
  border-radius: 50%;
  background: #CB0000;
  box-shadow: 1px 2px 5px black;
  margin-top: -1.2%;
  cursor: pointer;
}

/* line 162, /home/paul/Desktop/getflix/app/assets/stylesheets/player.scss */
input[type=range]::-ms-fill-upper {
  background: #ddd;
  border-radius: 10px;
}

/* line 167, /home/paul/Desktop/getflix/app/assets/stylesheets/player.scss */
.fullScreen {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 5%;
  position: relative;
}

/* line 176, /home/paul/Desktop/getflix/app/assets/stylesheets/player.scss */
.muteButton {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 5%;
  position: relative;
  border-right: 1px solid black;
  box-shadow: 1px 0px 0px #2d2d2d;
}

/* line 187, /home/paul/Desktop/getflix/app/assets/stylesheets/player.scss */
.playTime {
  color: white;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10%;
  position: relative;
  border-right: 1px solid black;
  box-shadow: 1px 0px 0px #2d2d2d;
  font-size: 1.2;
  user-select: none;
  cursor: default;
}

/* line 202, /home/paul/Desktop/getflix/app/assets/stylesheets/player.scss */
.playTime p {
  margin-right: 4%;
}

/* line 206, /home/paul/Desktop/getflix/app/assets/stylesheets/player.scss */
.playTime p:last-of-type {
  margin-right: 0;
}
/* line 1, /home/paul/Desktop/getflix/app/assets/stylesheets/reset.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td, button, figure {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: sans-serif;
  vertical-align: baseline;
  list-style: none;
}

/* line 21, /home/paul/Desktop/getflix/app/assets/stylesheets/reset.scss */
body {
  width: 100%;
  background: black;
  line-height: 1;
  color: black;
}

/* line 28, /home/paul/Desktop/getflix/app/assets/stylesheets/reset.scss */
ol, ul {
  list-style: none;
}

/* line 32, /home/paul/Desktop/getflix/app/assets/stylesheets/reset.scss */
table {
  border-collapse: separate;
  border-spacing: 0;
}

/* line 36, /home/paul/Desktop/getflix/app/assets/stylesheets/reset.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
}

/* line 40, /home/paul/Desktop/getflix/app/assets/stylesheets/reset.scss */
blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
}

/* line 44, /home/paul/Desktop/getflix/app/assets/stylesheets/reset.scss */
blockquote, q {
  quotes: "" "";
}

/* line 48, /home/paul/Desktop/getflix/app/assets/stylesheets/reset.scss */
button:hover {
  cursor: pointer;
}

/* line 52, /home/paul/Desktop/getflix/app/assets/stylesheets/reset.scss */
html {
  overflow-x: hidden;
}

/* line 56, /home/paul/Desktop/getflix/app/assets/stylesheets/reset.scss */
.sessionForm {
  min-height: 90vh;
  background-color: black;
}

/* line 61, /home/paul/Desktop/getflix/app/assets/stylesheets/reset.scss */
.browser {
  min-height: 90vh;
  background-color: #141414;
}

/* line 66, /home/paul/Desktop/getflix/app/assets/stylesheets/reset.scss */
.genre {
  min-height: 90vh;
  background-color: #141414;
}

/* line 71, /home/paul/Desktop/getflix/app/assets/stylesheets/reset.scss */
.searchPage {
  min-height: 90vh;
  background-color: #141414;
}

/* line 76, /home/paul/Desktop/getflix/app/assets/stylesheets/reset.scss */
.myList {
  min-height: 90vh;
  background-color: #141414;
}
/* line 1, /home/paul/Desktop/getflix/app/assets/stylesheets/search.scss */
.searchPage {
  height: 100%;
}

/* line 5, /home/paul/Desktop/getflix/app/assets/stylesheets/search.scss */
.searchPage aside {
  padding: 1px;
}

/* line 9, /home/paul/Desktop/getflix/app/assets/stylesheets/search.scss */
.searchPage p {
  color: white;
  font-size: 26px;
  margin: 107px 0 72px 56px;
}

/* line 15, /home/paul/Desktop/getflix/app/assets/stylesheets/search.scss */
.searchPage #searchRows {
  margin: 0 auto;
  width: 93%;
  display: flex;
  flex-wrap: wrap;
}
/* line 1, /home/paul/Desktop/getflix/app/assets/stylesheets/search_bar.scss */
.searchBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
  height: 32px;
  width: 100px;
  border: none;
  transition: all 250ms ease;
}

/* line 12, /home/paul/Desktop/getflix/app/assets/stylesheets/search_bar.scss */
.searchBar .closeBtn {
  display: none;
}

/* line 16, /home/paul/Desktop/getflix/app/assets/stylesheets/search_bar.scss */
.inputField::-webkit-input-placeholder {
  color: white;
}

/* line 20, /home/paul/Desktop/getflix/app/assets/stylesheets/search_bar.scss */
.placeholderColor::-webkit-input-placeholder {
  color: gray;
}

/* line 24, /home/paul/Desktop/getflix/app/assets/stylesheets/search_bar.scss */
.revealSearch {
  background-color: rgba(0, 0, 0, 0.75);
  width: 266px;
  border: 1px solid white;
}

/* line 30, /home/paul/Desktop/getflix/app/assets/stylesheets/search_bar.scss */
.revealSearch .closeBtn {
  display: flex;
}

/* line 34, /home/paul/Desktop/getflix/app/assets/stylesheets/search_bar.scss */
.inputBox {
  width: calc(100% - 35px);
}

/* line 38, /home/paul/Desktop/getflix/app/assets/stylesheets/search_bar.scss */
.inputField {
  color: white;
  background-color: rgba(0, 0, 0, 0);
  padding: 7px;
  border: none;
}

/* line 45, /home/paul/Desktop/getflix/app/assets/stylesheets/search_bar.scss */
.inputField:focus {
  outline: none;
}

/* line 49, /home/paul/Desktop/getflix/app/assets/stylesheets/search_bar.scss */
.searchBar i {
  color: white;
  padding: 8px;
}

/* line 54, /home/paul/Desktop/getflix/app/assets/stylesheets/search_bar.scss */
.searchBar svg {
  padding-right: 8px;
  color: white;
}

/* line 59, /home/paul/Desktop/getflix/app/assets/stylesheets/search_bar.scss */
.closeBtn {
  cursor: pointer;
  overflow: hidden;
  display: flex;
  align-items: center;
}
/* line 1, /home/paul/Desktop/getflix/app/assets/stylesheets/series.scss */
.series {
  width: 100%;
  cursor: pointer;
  position: relative;
  transform-origin: center left;
  transition: transform 500ms ease;
}

/* line 9, /home/paul/Desktop/getflix/app/assets/stylesheets/series.scss */
.seriesMedia {
  width: 100%;
  overflow: hidden;
  position: relative;
}

/* line 15, /home/paul/Desktop/getflix/app/assets/stylesheets/series.scss */
#seriesPlay {
  position: absolute;
  color: white;
  transform: scale(3);
  left: calc(50% - 6.3px);
  top: calc(24%);
  visibility: hidden;
  transition: color 200ms ease, transform 200ms ease;
  z-index: 51;
}

/* line 26, /home/paul/Desktop/getflix/app/assets/stylesheets/series.scss */
.series:hover #seriesPlay {
  visibility: visible;
  color: white;
  cursor: pointer;
  z-index: 51;
}

/* line 33, /home/paul/Desktop/getflix/app/assets/stylesheets/series.scss */
.series:hover #seriesPlay:hover {
  transform: scale(3.5);
  color: red;
}

/* line 38, /home/paul/Desktop/getflix/app/assets/stylesheets/series.scss */
.seriesRow #noHover #seriesPlay {
  top: calc(50% - 8px);
}

/* line 42, /home/paul/Desktop/getflix/app/assets/stylesheets/series.scss */
.imageScaler {
  margin-bottom: 56%;
}

/* line 46, /home/paul/Desktop/getflix/app/assets/stylesheets/series.scss */
.seriesImg {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
}

/* line 55, /home/paul/Desktop/getflix/app/assets/stylesheets/series.scss */
.seriesInfo {
  position: absolute;
  top: 0;
  margin-top: 31%;
  margin-left: 5%;
  white-space: nowrap;
  max-width: 80%;
  opacity: 0;
  transition: opacity 500ms ease;
  color: white;
  text-shadow: 0px 1px black;
}

/* line 69, /home/paul/Desktop/getflix/app/assets/stylesheets/series.scss */
.seriesInfo p {
  margin: 0 0 2% 0;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: .75vw;
  font-weight: bold;
  user-select: none;
  padding: 1px;
}

/* line 79, /home/paul/Desktop/getflix/app/assets/stylesheets/series.scss */
.seriesInfo text {
  display: block;
  height: 1.25vw;
  overflow: hidden;
  font-size: .45vw;
  user-select: none;
  white-space: normal;
}

/* line 88, /home/paul/Desktop/getflix/app/assets/stylesheets/series.scss */
.series:hover .seriesInfo {
  opacity: 1;
}

/* line 92, /home/paul/Desktop/getflix/app/assets/stylesheets/series.scss */
.fa-angle-down {
  color: white;
  position: absolute;
  bottom: 0;
  margin-left: calc(50% - 5px);
  margin-bottom: 6px;
  transform: scale(4, 2);
  opacity: 0;
  transition: opacity 500ms ease;
}

/* line 103, /home/paul/Desktop/getflix/app/assets/stylesheets/series.scss */
.fa-angle-down:hover {
  color: #e50914;
}

/* line 108, /home/paul/Desktop/getflix/app/assets/stylesheets/series.scss */
.series:hover .fa-angle-down {
  opacity: 1;
}

/* line 112, /home/paul/Desktop/getflix/app/assets/stylesheets/series.scss */
.series .fa-caret-down {
  color: white;
  position: absolute;
  margin-bottom: -14px;
  margin-left: calc(50% - 5px);
  bottom: 0;
  display: none;
}

/* line 121, /home/paul/Desktop/getflix/app/assets/stylesheets/series.scss */
.seriesBgFade {
  position: absolute;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0));
  height: 101%;
  width: 100%;
  top: 0;
  opacity: 0;
  transition: opacity 500ms ease;
}

/* line 131, /home/paul/Desktop/getflix/app/assets/stylesheets/series.scss */
.series:hover .seriesBgFade {
  opacity: 1;
}

/* line 135, /home/paul/Desktop/getflix/app/assets/stylesheets/series.scss */
.highlightSerie .series {
  border: 4px solid white;
  box-sizing: border-box;
  z-index: 50;
}

/* line 141, /home/paul/Desktop/getflix/app/assets/stylesheets/series.scss */
.highlightSerie .fa-caret-down {
  display: block;
}
/* line 1, /home/paul/Desktop/getflix/app/assets/stylesheets/series_row.scss */
.seriesRow {
  display: block;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 4%;
  position: relative;
}

/* line 13, /home/paul/Desktop/getflix/app/assets/stylesheets/series_row.scss */
.seriesRow .seriesStrip:hover {
  transform: translate3d(-50px, 0, 0);
}

/* line 17, /home/paul/Desktop/getflix/app/assets/stylesheets/series_row.scss */
.seriesStrip {
  z-index: 50;
  width: 100%;
  display: flex;
  transition: transform 500ms ease;
  flex: 1;
}

/* line 25, /home/paul/Desktop/getflix/app/assets/stylesheets/series_row.scss */
.serieWrapper:hover ~ .serieWrapper {
  transform: translate3d(100px, 0, 0);
}

/* line 29, /home/paul/Desktop/getflix/app/assets/stylesheets/series_row.scss */
.seriesStrip:hover .series {
  opacity: 0.3;
}
/* line 32, /home/paul/Desktop/getflix/app/assets/stylesheets/series_row.scss */
.seriesStrip:hover .series:hover {
  transform: scale(1.85);
  opacity: 1;
  z-index: 51;
}

/* line 40, /home/paul/Desktop/getflix/app/assets/stylesheets/series_row.scss */
.seriesStrip:hover #noHover {
  transform: translate3d(50px, 0, 0);
}

/* line 44, /home/paul/Desktop/getflix/app/assets/stylesheets/series_row.scss */
.seriesRow .seriesStrip #noHover:hover {
  transform: scale(0.52);
  transform: translate3d(25px, 0, 0);
  z-index: 500;
}

/* line 50, /home/paul/Desktop/getflix/app/assets/stylesheets/series_row.scss */
.seriesRow .seriesStrip #noHover:hover .series {
  transform: translate3d(25px, 0, 0);
}

/* line 54, /home/paul/Desktop/getflix/app/assets/stylesheets/series_row.scss */
#noHover .fa-angle-down {
  display: none;
}

/* line 58, /home/paul/Desktop/getflix/app/assets/stylesheets/series_row.scss */
#noHover .seriesInfo {
  display: none;
}

/* line 62, /home/paul/Desktop/getflix/app/assets/stylesheets/series_row.scss */
#noHover .seriesBgFade {
  display: none;
}

/* line 66, /home/paul/Desktop/getflix/app/assets/stylesheets/series_row.scss */
.serieWrapper {
  transition: transform 500ms ease;
}

/* line 70, /home/paul/Desktop/getflix/app/assets/stylesheets/series_row.scss */
.seriesRow li:last-of-type .series {
  transform-origin: center;
}

/* line 74, /home/paul/Desktop/getflix/app/assets/stylesheets/series_row.scss */
.seriesRow li:first-of-type .series {
  transform-origin: center left;
}

/* line 79, /home/paul/Desktop/getflix/app/assets/stylesheets/series_row.scss */
.seriesRow li {
  width: 16.66%;
  margin-right: .2vw;
}

/* line 84, /home/paul/Desktop/getflix/app/assets/stylesheets/series_row.scss */
.seriesRow li:last-of-type {
  margin-right: 0;
}

/* line 88, /home/paul/Desktop/getflix/app/assets/stylesheets/series_row.scss */
.viewer {
  position: absolute;
  bottom: 0;
  flex: 0;
  width: 100vw;
  margin: 0 auto;
  opacity: 0;
  transition: all 0ms ease;
  z-index: -100;
}

/* line 99, /home/paul/Desktop/getflix/app/assets/stylesheets/series_row.scss */
.viewerShow {
  opacity: 1;
  top: 0;
  margin-top: 10.5%;
  z-index: 200;
  transition: all 500ms ease-out;
}

/* line 107, /home/paul/Desktop/getflix/app/assets/stylesheets/series_row.scss */
#clearFlex {
  flex-grow: 1;
}

/* line 111, /home/paul/Desktop/getflix/app/assets/stylesheets/series_row.scss */
#noHover2:hover {
  transform: translate3d(0, 0, 0);
}

/* line 115, /home/paul/Desktop/getflix/app/assets/stylesheets/series_row.scss */
#noHover2:hover .series {
  opacity: 1;
}

/* line 119, /home/paul/Desktop/getflix/app/assets/stylesheets/series_row.scss */
#noHover2:hover #noHover {
  transform: translate3d(0, 0, 0);
}
/* line 1, /home/paul/Desktop/getflix/app/assets/stylesheets/series_viewer.scss */
.seriesViewer {
  padding: 1px;
  width: 100%;
  background-color: black;
  height: 31vw;
  position: relative;
  display: flex;
  justify-content: flex-start;
}

/* line 11, /home/paul/Desktop/getflix/app/assets/stylesheets/series_viewer.scss */
.viewerFooter {
  position: absolute;
  bottom: 0;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  z-index: 1;
  width: 100%;
}

/* line 22, /home/paul/Desktop/getflix/app/assets/stylesheets/series_viewer.scss */
.viewerNav {
  display: flex;
  justify-content: center;
}

/* line 27, /home/paul/Desktop/getflix/app/assets/stylesheets/series_viewer.scss */
.viewerNav div {
  color: white;
  font-weight: 700;
  font-size: 1vw;
  padding-bottom: 8px;
  margin: 0 1.5em;
  opacity: .7;
  cursor: pointer;
  box-sizing: border-box;
}

/* line 38, /home/paul/Desktop/getflix/app/assets/stylesheets/series_viewer.scss */
.viewerNav div:hover {
  opacity: 1;
}

/* line 42, /home/paul/Desktop/getflix/app/assets/stylesheets/series_viewer.scss */
.viewerNav .selectedBtn {
  border-bottom: 5px solid red;
  opacity: 1;
}

/* line 47, /home/paul/Desktop/getflix/app/assets/stylesheets/series_viewer.scss */
.viewerBg {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: auto;
  opacity: .4;
}

/* line 56, /home/paul/Desktop/getflix/app/assets/stylesheets/series_viewer.scss */
.viewerClose {
  color: white;
  height: 32px;
  width: auto;
  position: absolute;
  top: 0;
  right: 0;
  margin-top: 2%;
  margin-right: 4%;
  cursor: pointer;
  z-index: 10;
}

/* line 69, /home/paul/Desktop/getflix/app/assets/stylesheets/series_viewer.scss */
.viewerContent {
  margin: 20px auto 0 auto;
  color: white;
  z-index: 1;
  display: flex;
  flex-direction: column;
  width: 93%;
}

/* line 78, /home/paul/Desktop/getflix/app/assets/stylesheets/series_viewer.scss */
.viewTitle {
  width: 100%;
  height: 10%;
  font-size: 2.4vw;
  font-weight: 700;
}

/* line 85, /home/paul/Desktop/getflix/app/assets/stylesheets/series_viewer.scss */
.overviewTab {
  width: 30%;
  height: 90%;
  font-size: 1.125vw;
  color: #999;
  position: relative;
}

/* line 93, /home/paul/Desktop/getflix/app/assets/stylesheets/series_viewer.scss */
.episodesTab {
  margin-top: 1%;
  width: 100%;
  display: flex;
  justify-content: center;
}

/* line 100, /home/paul/Desktop/getflix/app/assets/stylesheets/series_viewer.scss */
.episodeCarousel {
  width: 100%;
}

/* line 104, /home/paul/Desktop/getflix/app/assets/stylesheets/series_viewer.scss */
.rowWrapper {
  width: 100%;
}

/* line 110, /home/paul/Desktop/getflix/app/assets/stylesheets/series_viewer.scss */
.hideTab {
  display: none;
}
/* line 1, /home/paul/Desktop/getflix/app/assets/stylesheets/session_form.scss */
.sessionForm {
  position: relative;
}

/* line 4, /home/paul/Desktop/getflix/app/assets/stylesheets/session_form.scss */
.formWindow {
  position: absolute;
  top: 90px;
  left: 50%;
  margin-left: -230px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 460px;
  background-color: #f3f3f3;
}

/* line 16, /home/paul/Desktop/getflix/app/assets/stylesheets/session_form.scss */
.splashImg {
  width: 100%;
}

/* line 20, /home/paul/Desktop/getflix/app/assets/stylesheets/session_form.scss */
.formWindow label {
  width: 380px;
  font-size: 16px;
  margin-bottom: 22px;
}

/* line 26, /home/paul/Desktop/getflix/app/assets/stylesheets/session_form.scss */
.formWindow label input {
  height: 44px;
  width: 380px;
  padding: 10px;
  font-size: 16px;
  box-sizing: border-box;
}

/* line 34, /home/paul/Desktop/getflix/app/assets/stylesheets/session_form.scss */
.formWindow h1 {
  width: 380px;
  font-size: 32px;
  margin-top: 22px;
  margin-bottom: 20px;
}

/* line 41, /home/paul/Desktop/getflix/app/assets/stylesheets/session_form.scss */
.errorBox {
  padding: 20px 10px;
  width: 380px;
  background-color: #999999;
  color: white;
  box-sizing: border-box;
  margin-bottom: 20px;
  font-size: 16px;
}

/* line 51, /home/paul/Desktop/getflix/app/assets/stylesheets/session_form.scss */
.sessionForm button {
  width: 380px;
  height: 50px;
  background-color: #e50914;
  margin-bottom: 20px;
  font-size: 18px;
  color: white;
}

/* line 60, /home/paul/Desktop/getflix/app/assets/stylesheets/session_form.scss */
.guestLogin {
  width: 380px;
  font-size: 14px;
  text-decoration: none;
  margin-bottom: 19px;
  color: #0080ff;
}

/* line 68, /home/paul/Desktop/getflix/app/assets/stylesheets/session_form.scss */
.guestLogin:hover {
  text-decoration: underline;
  color: #0080ff;
}

/* line 73, /home/paul/Desktop/getflix/app/assets/stylesheets/session_form.scss */
.otherForm {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  border-top: 1px solid #CCCCCC;
  padding-top: 20px;
}

/* line 81, /home/paul/Desktop/getflix/app/assets/stylesheets/session_form.scss */
.otherLink {
  text-decoration: none;
  color: #0080ff;
}

/* line 86, /home/paul/Desktop/getflix/app/assets/stylesheets/session_form.scss */
.otherLink:hover {
  text-decoration: underline;
  color: #0080ff;
}

/* line 91, /home/paul/Desktop/getflix/app/assets/stylesheets/session_form.scss */
.otherForm button:hover {
  opacity: .6;
}
/* line 1, /home/paul/Desktop/getflix/app/assets/stylesheets/video_row.scss */
.videoRow {
  width: 100%;
  display: flex;
}
/* line 1, /home/paul/Desktop/getflix/app/assets/stylesheets/viewer_overview.scss */
.overviewDetails {
  width: 100%;
  display: flex;
  color: #666;
  font-weight: 700;
  font-size: 1.1vw;
  margin: 5% 0;
}

/* line 10, /home/paul/Desktop/getflix/app/assets/stylesheets/viewer_overview.scss */
.overviewDetails li {
  margin: 0 .5em 0 0px;
  width: auto;
}

/* line 15, /home/paul/Desktop/getflix/app/assets/stylesheets/viewer_overview.scss */
.overviewTab #overviewPlay {
  position: absolute;
  top: 0;
  margin-top: 37%;
  margin-left: 233%;
  left: 0;
  color: white;
  cursor: pointer;
  transform: scale(9);
  z-index: 51;
  opacity: .7;
  transition: all 200ms ease;
}

/* line 29, /home/paul/Desktop/getflix/app/assets/stylesheets/viewer_overview.scss */
#overviewPlay:hover {
  transform: scale(10);
  color: red;
  opacity: 1;
}

/* line 35, /home/paul/Desktop/getflix/app/assets/stylesheets/viewer_overview.scss */
.overviewMyList {
  display: flex;
  margin-top: 1.5vw;
  align-items: center;
}

/* line 41, /home/paul/Desktop/getflix/app/assets/stylesheets/viewer_overview.scss */
.overviewPlus {
  transform: scale(2);
  margin: 0 .6vw 0 .3vw;
  cursor: pointer;
  transition: all 200ms ease;
}

/* line 48, /home/paul/Desktop/getflix/app/assets/stylesheets/viewer_overview.scss */
.overviewPlus:hover {
  color: white;
}

/* line 52, /home/paul/Desktop/getflix/app/assets/stylesheets/viewer_overview.scss */
.overviewCheck {
  transform: scale(2);
  margin: 0 .6vw 0 .3vw;
  cursor: pointer;
  transition: all 200ms ease;
}

/* line 59, /home/paul/Desktop/getflix/app/assets/stylesheets/viewer_overview.scss */
.overviewCheck:hover {
  color: white;
}

/* line 63, /home/paul/Desktop/getflix/app/assets/stylesheets/viewer_overview.scss */
.hideMyList {
  display: none !important;
}

/* line 68, /home/paul/Desktop/getflix/app/assets/stylesheets/viewer_overview.scss */
.overviewListText {
  color: white;
  font-size: 1.1vw;
  margin-left: .6vw;
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *


 */
